@model mercy_developers.Models.UsuariosServicio

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UsuariosServicio</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duracion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duracion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreTecnico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreTecnico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraTermino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraTermino)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiciosIdServNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiciosIdServNavigation.IdServ)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuariosRutNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuariosRutNavigation.Rut)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
